<% content_for :extra_assets do %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js" %>
<% end %>

<div class="header ng-isolate-scope" scroll="">
			<!-- ngInclude: '/assets/aOS/js/os/views/header.htm' --><div class="container ng-scope" data-ng-controller="os.HeaderController" data-ng-include=" '/assets/aOS/js/os/views/header.htm' "><div class="branding span-1-1 tablet--span-1-1 desktop--span-1-1 ng-scope">
	<div class="t">
		<div class="tc">
			<a class="logo ng-scope" href="/nl/" title="A-stad" data-ng-tooltip="tooltip" data-placement="bottom-left" data-trigger="onHoverIfInHelpState" data-key="astadLogo">
				<!-- translate:  --><i class="icon-a-logo ng-scope" translate=""><span class="ng-scope">A-stad</span></i></a>
		</div>
	</div>
</div>

<div class="actions span-10-3 tablet--span-4-9 desktop--span-3-10 ng-scope">
	<div class="t">
		<div class="tc">
			<ul>
				<li class="overview">
					<a href="/nl/kanalen" title="Overzicht" data-ng-tooltip="tooltip" data-placement="bottom-right" data-trigger="onHoverIfInHelpState" data-key="overzicht" class="ng-scope">
						<!-- translate:  --><i class="icon-kanalen ng-scope" translate=""><span class="ng-scope">Overzicht</span></i>
					</a>
				</li>
				<!-- ngIf: !loggedIn --><li class="profile ng-scope" data-ng-if="!loggedIn">
					<a href="/nl/login" title="Aanmelden">
						<!-- translate:  --><i class="icon-profile ng-scope" translate=""><span class="ng-scope">Aanmelden</span></i>
					</a>
				</li><!-- end ngIf: !loggedIn -->
				<!-- ngIf: loggedIn -->
				<!-- ngIf: loggedIn -->
				<!-- ngIf: loggedIn -->
				<li class="search">
					<a data-ng-click="displaySearch()">
						<!-- translate:  --><i class="icon-search ng-scope" translate=""><span class="ng-scope">Zoeken</span></i>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>

<!-- ngInclude: '/assets/aOS/js/os/views/search.htm' --><div class="searchAction span-full tablet--span-centered-6 desktop--span-centered-6 ng-scope" data-ng-controller="os.SearchController" data-ng-include=" '/assets/aOS/js/os/views/search.htm' " data-ng-class="{'visible':searchStatus.showMobileSearch}" style=""><div class="t ng-scope">
	<div class="tc">
		<!-- translate:  --><a class="cancelSearch ng-scope" data-ng-click="hideSearchMobile()" translate=""><span class="ng-scope">Annuleren</span></a>

		<form data-ng-submit="searchOverview(); hideSearch();" data-ng-tooltip="tooltip" data-placement="bottom" data-trigger="onHoverIfInHelpState" data-key="zoeken" class="ng-scope ng-pristine ng-valid">
			<!-- translate:  --><a class="submitSearch ng-scope" data-ng-click="searchOverview()" translate=""><i class="icon-search ng-scope"><span>Zoeken</span></i></a>
			<div class="searchInputWrapper">
				<input class="searchInput ng-isolate-scope ng-pristine ng-valid" focus="searchfieldHasFocus" type="text" placeholder="Wat wilt u vinden?" data-ng-blur="submitSearch()" data-ng-model="searchQuery.query" data-ng-change="doSearch()" maxlength="140" value="searchQuery.query">
				<span data-ng-show="searchQuery.query.length" data-ng-click="emptySearchHard()" class="cancelSearchQuery ng-hide">×</span>
			</div>
		</form>

		<!-- ngIf: searchQuery.query.length > 0 -->
	</div>
</div>
</div>
<!-- ngInclude: tmpl.popupTemplate -->
</div>
		</div>