@import "mixins";

// Variables

$brand-primary: #fed136;
$brand-danger: #e74c3c;
$gray-darkest: #222;
$gray: #777;
$gray-lighter: #f7f7f7;
$placeholder-text: #bbbbbb;
$green-light: #dff0d8;

header {
	background-image: image-url("header-bg.jpg");
	background-repeat: none;
	background-attachment: scroll;
	background-position: center center;
	@include background-cover;
	text-align: center;
	color: white;
	.intro-text {
		padding-top: 100px;
		padding-bottom: 50px;
		.intro-lead-in {
			@include serif-font;
			font-style: italic;
			font-size: 22px;
			line-height: 22px;
			margin-bottom: 25px;
		}
		.intro-heading {
			@include heading-font;
			font-weight: 700;
			font-size: 50px;
			line-height: 50px;
			margin-bottom: 25px;
		}
	}
}

@media(min-width:768px) {
	header {
		.intro-text {
			padding-top: 300px;
			padding-bottom: 200px;
			.intro-lead-in {
				@include serif-font;
				font-style: italic;
				font-size: 40px;
				line-height: 40px;
				margin-bottom: 25px;
			}
			.intro-heading {
				@include heading-font;
				font-weight: 700;
				font-size: 75px;
				line-height: 75px;
				margin-bottom: 50px;
			}
		}
	}
}

// Restyled Primary Buttons

.btn-primary {
	@include button-variant(white, $brand-primary, $brand-primary);
	@include heading-font;
	font-weight: 700;
}

.btn-xl {
	@include button-variant(white, $brand-primary, $brand-primary);
	@include heading-font;
	font-weight: 700;
	border-radius: 3px;
	font-size: 18px;
	padding: 20px 40px;
}

// Global Section Styles

section {
    padding: 100px 0;
    h2.section-heading {
		font-size: 40px;
		margin-top: 0;
		margin-bottom: 15px;
    }
    h3.section-subheading {
		font-size: 16px;
		@include serif-font;
		text-transform: none;
		font-style: italic;
		font-weight: 400;
		margin-bottom: 75px;
    }
}

@media(min-width:768px) {
	section {
		padding: 150px 0;
	}
}

// Services Section

.service-heading {
	margin: 15px 0;
	text-transform: none;
}

// Portfolio Section

#portfolio {
    .portfolio-item {
        margin: 0 0 15px;
        right: 0;
        text-align: center;
        .fa-6x {
        	font-size: 16em;
        }
        .portfolio-link {
            display: block;
            position: relative;
            max-width: 400px;
            margin: 0 auto;
            background-color: $green-light;
            .portfolio-hover {
                background: fade-out($brand-primary, 0.2);
                position: absolute;
                width: 100%;
                height: 100%;
                opacity: 0;
                transition: all ease 0.5s;
                -webkit-transition: all ease 0.5s;
                -moz-transition: all ease 0.5s;
                &:hover {
                    opacity: 1;
                }
                .portfolio-hover-content {
                    position: absolute;
                    width: 100%;
                    height: 20px;
                    font-size: 20px;
                    text-align: center;
                    top: 50%;
                    margin-top: -12px;
                    color: white;
                    i {
                        margin-top: -12px;
                    }
                    h3,
                    h4 {
                        margin: 0;
                    }
                }                
            }            
        }
        .portfolio-caption {
        	max-width: 400px;
        	margin: 0 auto;
        	background-color: white;
        	text-align: center;
        	padding: 25px;
        	h4 {
        		text-transform: none;
        		margin: 0;
        	}
        	p {
        		@include serif-font;
        		font-style: italic;
        		font-size: 16px;
        		margin: 0;
        	}
        }
    }
    * {
        z-index: 2;
    }
}

@media(min-width:767px) {
    #portfolio {
        .portfolio-item {
            margin: 0 0 30px;
        }
    }
}

div.main-margins {
	margin-left: -15px;
	margin-right: -15px;
	text-align: center
}

.top-buffer { margin-top:20px; }