<h3>User</h3>
<p>Name: <%= @user.name if @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>
<p>Num Posts: <%= @user.posts.size %> </p>
<% @user.posts.each do |post|  %>
 <p>
      <%= render post %>
 </p>
<% end %>
