<td><%= link_to post.title, post %></td>
<td><%= link_to post.description, post %></td>
<td><%= link_to post.category ? post.category.name : "no category", post %></td>
<td><%= link_to post.location ? post.location.city : "no location", post %></td>