<div class="container">
  <div class="text-center">
    <h1>Your message has been delivered successfully<h1>
    <%= button_to "Back Home", root_path, method: "get", class: "btn btn-xl" %>
  </div>
</div>