<h1>Editing category</h1>

<div class="container">
  <div class="row">
    <%= render partial: 'form', layout: 'shared/sf_label', locals: { title: 'Edit Category' } %>
  </div>

  <div class="row">
     <%= link_to 'Show', @category %> |
    <%= link_to 'Back', categories_path %>
  </div>
</div>
